<%= @since %>
<table id="projects">
      <% @projects.each do |project| %>
      <tr>
            <td class="projectName" style="width: 265px"><%= project["name"] %></td>

            <td class="projectPersons">
                  <% project["members"].each do |member| %>
                  <img class="person" src="<%= member["avatar_url"] %>" />
                  <% end %>
            </td>
            <td class="projectsBars">
                  <% (1..project["commits"]).each do |v|%>
                  <div class="barSegment value<%= v%>"></div>
                  <% end %>
            </td>
      </tr>
      <% end %>
</table>
